<header>
	<main class="header">
			<img class="logo" src="../assets/img/logo.png" alt="Логотип компании">
			<div class="town">
				<select id="select">
					<option>Москва</option>
					<option>Баку</option>
					<option>Челяба</option>
					<option>Пидербург</option>
					<option>Майами</option>
				</select>
			</div>
			<div class="input">
				<div class="weather">+22 &#176;C</div>
				<input class="input-place" type="text" name="search" placeholder="Поиск по сайту">
			</div>
	</main>
	<div class="menu">
    <nav class="menu-text"><a routerLink="/">Главная</a></nav>
      <img class="slash" src="../assets/img/slash.png" alt="Слэш">
    <nav class="menu-text"><a routerLink="/politics">Политика</a></nav>
      <img class="slash" src="../assets/img/slash.png" alt="Слэш">
    <nav class="menu-text"><a routerLink="/society">Общество</a></nav>
			<img class="slash" src="../assets/img/slash.png" alt="Слэш">
    <nav class="menu-text"><a routerLink="/economy">Экономика</a></nav>
			<img class="slash" src="../assets/img/slash.png" alt="Слэш">
    <nav class="menu-text"><a routerLink="/in-the-world">В мире</a></nav>
			<img class="slash" src="../assets/img/slash.png" alt="Слэш">
    <nav class="menu-text"><a routerLink="/accidents">Проишествия</a></nav>
			<img class="slash" src="../assets/img/slash.png" alt="Слэш">
    <nav class="menu-text"><a routerLink="/sport">Спорт</a></nav>
			<img class="slash" src="../assets/img/slash.png" alt="Слэш">
    <nav class="menu-text"><a routerLink="/science">Наука</a></nav>
			<img class="slash" src="../assets/img/slash.png" alt="Слэш">
    <nav class="menu-text"><a routerLink="/tourism">Туризм</a></nav>
  </div>
</header>
