<footer>
  <div class="navigation">
    <nav class="navigation-right">
      <div class="links">
        <a routerLink="/">Главная</a>
      </div>
      <div class="links">
        <a routerLink="/politics">Политика</a>
      </div>
      <div class="links">
        <a routerLink="/society">Общество</a>
      </div>
      <div class="links">
        <a routerLink="/economy">Экономика</a>
      </div>
      <div class="links">
        <a routerLink="/in-the-world">В мире</a>
      </div>
    </nav>
    <nav class="navigation-left">
      <div class="links">
        <a routerLink="/accidents">Проишествия</a>
      </div>
      <div class="links">
        <a routerLink="/sport">Спорт</a>
      </div>
      <div class="links">
        <a routerLink="/science">Наука</a>
      </div>
      <div class="links">
        <a routerLink="/tourism">Туризм</a>
      </div>
    </nav>
  </div>
  <div class="company-information">
    <img src="../assets/img/footer-logo.png" alt="Логотип компании">
    <nav class="logos-container">
      <div class="links">
        <a href="#">Об агенстве</a>
      </div>
      <div class="links">
        <a href="#">Контакты</a>
      </div>
      <div class="links">
        <a href="#">
          Опубликовать новость
        </a>
      </div>
    </nav>
  </div>
  <nav class="contacts">
    <div class="logos">
      <img src="../assets/img/vk-logo.png" alt="Логотип Вконтакте">
      <img src="../assets/img/facebook.png" alt="Логотип Фэйсбук">
      <img src="../assets/img/twitter-logo.png" alt="Логотип Твиттер">
      <img src="../assets/img/instagramm-logo.png" alt="Логотип Инстаграм">
    </div>
    <div class="phone">
      +7 (499) 995-55-55
    </div>
    <div class="mail">
      info@agency.ru
    </div>
  </nav>
</footer>
