#block {
  overflow: hidden;
}
#special-news {
		background-image: url(/assets/img/car.png);
		height: 395px;
		width: 560px;
		background-repeat: no-repeat;
		float: left;
		color: white
	}

		#special-news-theme {
			color: white;
			margin-top: 100px;
			margin-left: 18px;
		}

		#special-news-theme a {
			color: white;
		}

		#special-news-name {
			margin-top: 35px;
			font-size: 30px;
			font-weight: bold;
		}

	#special-news-righth {
		float: right;
		width: 400px;
	}

	#special-news-time-date {
		margin-top: 15px;
		margin-left: 5px;
		font-size: 12px;
		position: relative;
	}

		#special-news-time {
			position: absolute;
			top: 0;
			left: 90px;
			padding-left: 15px;
			background-image: url(/assets/img/car-clock.png);
			background-repeat: no-repeat;
		}

	#special-news-description {
		font-size: 14px;
		margin-top: 30px;
	}

#special-news-righth {
	background-color: white;
}

	#special-news-righth h2 {
		font-size: 20;
		padding: 30px 0 30px 20px;
		border-bottom: 1px solid #e5e5e5;
		margin: 0 0 30px;
	}

	.special-text {
		padding-left: 20px;
		padding-right: 30px;
		margin-bottom: 17px;
		font-size: 16px;
		font-weight: bold;
	}

	.special-prop {
		margin-bottom: 25px;
		font-size: 12px;
		padding-left: 20px;
		position: relative;
	}

		.special-prop a{
			color: #b1b1ba;
		}

		.special-time {
			position: absolute;
			top: 0;
			left: 90px;
			padding-left: 15px;
			background-image: url(/assets/img/icon-time.png);
			background-repeat: no-repeat;
		}

		.special-comment {
			position: absolute;
			top: 0;
			left: 150px;
			padding-left: 15px;
			background-image: url(/assets/img/icon-comments.png);
			background-repeat: no-repeat;
		}
