<div class="black-bar">
		<div class="fixed-container">
		Самые <a href="#">свежие новости</a> в реальном времени
		<div class="date-time">{{time}}</div>
		</div>
</div>
<div class="fixed-container">
    <app-header></app-header>
</div>
<div class="gradient-picture">
  <div class="fixed-container">
    <router-outlet></router-outlet>
  </div>
 <div>
<div class="background">
  <div class="fixed-container">
    <app-footer></app-footer>
  </div>
  <div class="footer">
		© Новостное агентство, 2017-2018 все права защищены
  </div>
<div class="background">
