<div class="central-picture">
  <nav class="picture-tor">
    <a routerLink="/politics">/Политика</a>
  </nav>
  <div class="picture-center">
    <b>В Крыму отреагировали на слова Кравчука о&nbsp;возврате полуострова</b>
  </div>
  <div class="picture-bottom">
    <div class="picture-bottom-date">
      19 Июня 2018
    </div>
    <div class="picture-bottom-time">
      10:48
    </div>
  </div>
</div>
<div class="bottom-news">
  <div class="bottom-news-left">
    <img src="../assets/img/navalniy.png" alt="Навальный кричит">
    <div class="bottom-sign">
      <b>Алексей Навальный объявил акцию против пенсионной реформы 1 июля</b>
    </div>
    <nav class="bottom-prop">
      <a routerLink="/politics">/ Политика</a>
      <div class="bottom-time">10:48</div>
      <div class="bottom-comment">15</div>
    </nav>
  </div>
  <div class="bottom-news-rigth">
    <img src="../assets/img/passport.png" alt="Три паспорта на столе">
    <div class="bottom-sign">
      <b>Дума увеличила пошлины за выдачу загранпаспортов и водительских прав</b>
    </div>
    <nav class="bottom-prop">
      <a routerLink="/society">/Общество</a>
      <div class="bottom-time">12:33</div>
      <div class="bottom-comment">36</div>
    </nav>
  </div>
</div>
<div class="bottom-news">
  <div class="bottom-news-left">
    <img src="../assets/img/telka.png" alt="Девушка в наушниках">
    <div class="bottom-sign">
      <b>В России заработал стриминговый сервис YouTube</b>
    </div>
    <nav class="bottom-prop">
      <a routerLink="/society">/Интернет</a>
      <div class="bottom-time">11:17</div>
      <div class="bottom-comment">10</div>
    </nav>
  </div>
  <div class="bottom-news-rigth">
    <img src="../assets/img/kokoko.png" alt="Футболист кричит">
    <div class="bottom-sign">
      <b>Кейн признан лучшим игроком матча ЧМ-2018 Тунис — Англия</b>
    </div>
    <nav class="bottom-prop">
      <a routerLink="/politics">/Политика</a>
      <div class="bottom-time">11:39</div>
      <div class="bottom-comment">25</div>
    </nav>
  </div>
</div>
